    <footer>
        <div class="footer-inner">
            <!--Sitenin Logosu-->
            <img src="/src/assets/icons/logo-icon.svg" class="logo" alt="logo-icon">

            <!--Site legal dosyaları-->
            <ul id="site-sartlari">
                <li><a href="/hizmet-sartlari">Hizmet Şartları</a></li>
                <li><a href="/gizlilik-politikasi">Gizlilik Politikası</a></li>
                <li><a href="/cerezler">Çerezler</a></li>
            </ul>

            <!--Sitenin mail adresi-->
            <a id="mail-addres" href="mailto:hesaplayicim@gmail.com" target="_blank">hesaplayicim@gmail.com</a>

            <!--Sitenin copyright kısmı ve kodların durduğu repo-->
            <div id="footernote">
                <p class="copyright"> <span id="date-site"></span> hesaplayicim.com</p>
                <div class="social-media-icons">
                    <a  title="Github Reposu" href="https://github.com/ahmetyilmaz90/hesaplayicim.com"  target="_blank" rel="noopener noreferrer"><img src="/src/assets/icons/mdi_github.svg" alt="github-icon"></a>
                </div>
            </div>
        </div>
    </footer>