<!DOCTYPE html>
<html lang="tr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Gereçk sayfa urlsini tarayıcıya tanıtmak için-->
    <link rel="canonical" href="https://hesaplayicim.com/">

    <!-- Sayfa açıklamasını yapıyoruz -->
    <meta name="description" content="Matematik, istatistik, sağlık, ticaret ve daha fazlası için ücretsiz online hesaplama araçları. Hızlı, doğru ve mobil uyumlu çözümler.">

    <!--Favicon dahil ediyoruz-->
    <link rel="icon" type="image/png" sizes="16x16" href="/src/assets/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/x-icon" href="/src/assets/icons/favicon.ico">
    <!---->

    <!-- Fontu dahil ediyoruz.-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <!---->

    <link rel="stylesheet" href="/src/css/styles.css">
    <title>Hesaplayıcım - Hesaplama Sitesi</title>

</head>